html {
  background: black;
}

.page-container {
  background-color: black;
  color: white;
}

p {
  color: grey;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.row-60-40 {
  display: -ms-grid;
  display: grid;
  height: 256px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.big-text-img-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 8px;
  border-radius: 16px;
}

.big-text-full {
  display: block;
  padding: 24px;
  grid-column-gap: 8px;
  border-radius: 16px;
}

.counter-card-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.07);
}

.bg-card-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 12px;
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* grids */
.grid-row-60-40 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-row-40-60 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.chart-type1-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  grid-row-gap: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.bottom-section {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .big-text-img-card {
    grid-row-gap: 4px;
  }
}

@media screen and (max-width: 479px) {
  .menu-item-text.active {
    color: #7d7d7d;
  }
}

/* form fields */
.upload-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.upload-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #a5a5a5;
}

.form-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3f698a;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.upload-success-message {
  padding-top: 20px;
  padding-bottom: 20px;
}

.display-file {
  margin-top: 40px;
}

input::file-selector-button {
  padding: 16px;
  margin-right: 8px;
  border: none;
  border-radius: 3px;
  background-color: #e9ecef;
}

.text-input {
  padding: 12px 2%;
  width: 96%;
}

.uploading-status {
  display: flex;
  align-items: center;
}

/* File-List */
.entry-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-row b {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.entry-row .entry-email {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry-row span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  text-align: right;
}

.entry-row {
  cursor: pointer;
}

.entry-row:hover {
  background-color: #6c6b6b;
}

.trash-icon {
  padding: 0 0 0px 8px;
  height: 14px;
  flex: 1;
}

.loading-indicator {
  width: 30px;
}

/* login, register */
.login-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-message p {
  margin-bottom: 16px;
}

.login-message button {
  background-color: #67748e;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.text-headline {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
