.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #141414;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: -0.39px;
}

a {
  color: #141414;
  text-decoration: none;
}

.page-grid {
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-column-gap: 8px;
  -ms-grid-columns: 296px 1fr;
  grid-template-columns: 296px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 16px;
}

.sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page-container {
  padding-right: 20px;
  padding-left: 20px;
}

.main {
  overflow: auto;
  padding: 0px 24px 40px;
  position: relative;
  z-index: 1;
}

.logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 12px;
  grid-row-gap: 8px;
}

.logo-icon {
  width: 60px;
}

.logo-name {
  color: #252f40;
  font-weight: 600;
}

.separator {
  height: 1px;
  margin-top: 8px;
  margin-right: 12px;
  margin-left: 12px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, #efefef),
    to(#fff)
  );
  background-image: linear-gradient(180deg, #efefef 50%, #fff);
}

.menu-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 20px;
}

.menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 12px;
}

.menu-item-text {
  color: #7d7d7d;
}

.menu-item-text.active {
  color: #7d7d7d;
}

.icon-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #e9ecef;
}

.icon-container.active {
  background-color: #003865;
}

.menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 20px;
}

.account-settings-headline {
  margin-top: 52px;
  margin-bottom: 30px;
  padding-right: 24px;
  padding-left: 24px;
  color: #67748e;
  text-transform: uppercase;
}

.account-settings {
  margin-top: 50px;
  margin-right: 24px;
  margin-left: 24px;
  color: #67748e;
  font-size: 13px;
}

.view-dashboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 40px;
}

.row-counter-cards {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.counter-card {
  display: block;
  width: auto;
  padding: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.counter-card-title {
  color: #67748e;
}

.counter-card-value {
  font-size: 20px;
  font-weight: 600;
}

.counter-card-icon {
  width: auto;
  height: 100%;
}

.counter-card-perc {
  color: #82d616;
  line-height: 14px;
}

.counter-card-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-column-gap: 14px;
}

.counter-card-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4px;
}

.row-60-40 {
  display: -ms-grid;
  display: grid;
  height: 256px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.big-text-img-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 8px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.big-text-full {
  display: block;
  padding: 24px;
  grid-column-gap: 8px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.counter-card-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-image: linear-gradient(140deg, #20bf55, #01baef);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.07);
}

.text-subhead {
  margin-bottom: 4px;
  color: #67748e;
  font-size: 16px;
  font-weight: 600;
}

.text-subhead.white {
  color: #fff;
}

.text-subhead.dark {
  color: #252f40;
}

.text-card-body {
  color: #67748e;
  font-size: 16px;
}

.text-card-body.white {
  color: #fff;
  letter-spacing: -0.44px;
}

.text-card-body.small {
  color: #67748e;
  font-size: 14px;
}

.text-headline {
  margin-bottom: 8px;
  color: #252f40;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.55px;
  line-height: 1.25em;
}

.text-headline.white {
  margin-bottom: 12px;
  color: #fff;
}

.bg-img-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.bg-card-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 12px;
  background-image: url("../images/background.jpg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.read-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 2px;
}

.read-more-link {
  margin-bottom: 4px;
  color: #67748e;
  font-size: 16px;
  font-weight: 600;
}

.read-more-link.white {
  color: #fff;
}

/* grids */
.grid-row-60-40 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-row-40-60 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.chart-type1-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  grid-row-gap: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.bottom-section {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.counter-number-big {
  margin-bottom: 4px;
  color: #252f40;
  font-size: 24px;
  font-weight: 700;
}

.counter-number-sub {
  height: 3px;
  border-radius: 2px;
  background-color: #252f40;
}

.icon-counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 2px;
}

.chart-type2-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-row-gap: 32px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.sidebar-inner {
  position: fixed;
  display: block;
  padding: 24px 16px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.burger-menu {
  position: absolute;
  left: 8px;
  top: 4px;
  right: auto;
  bottom: auto;
  display: block;
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
}

.burger {
  width: 3px;
  height: 1px;
  background-color: #252f40;
}

.view-analyze {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 40px;
}

.view-wallet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 40px;
}

.view-store {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 40px;
}

@media screen and (max-width: 991px) {
  .big-text-img-card {
    grid-row-gap: 4px;
  }

  .burger-menu {
    cursor: pointer;
  }
}

@media screen and (max-width: 479px) {
  .menu-item-text.active {
    color: #7d7d7d;
  }

  .burger-menu {
    left: 10px;
  }
}

#w-node-_076fe6a2-427d-19df-1180-96ba23e521fa-fda280c8 {
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_076fe6a2-427d-19df-1180-96ba23e5222a-fda280c8 {
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_076fe6a2-427d-19df-1180-96ba23e5225e-fda280c8 {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_076fe6a2-427d-19df-1180-96ba23e522a9-fda280c8 {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_076fe6a2-427d-19df-1180-96ba23e522b2-fda280c8 {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_076fe6a2-427d-19df-1180-96ba23e522bb-fda280c8 {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_88f7f42b-4385-20bd-89ed-25895a564816-84df707e {
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_88f7f42b-4385-20bd-89ed-25895a564846-84df707e {
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_88f7f42b-4385-20bd-89ed-25895a56487a-84df707e {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_88f7f42b-4385-20bd-89ed-25895a5648c5-84df707e {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_88f7f42b-4385-20bd-89ed-25895a5648ce-84df707e {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-_88f7f42b-4385-20bd-89ed-25895a5648d7-84df707e {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

/* 
*** single page navigation ***
*/

/* highlight active menu */

.active .icon-container {
  border: 2px solid #3f698a;
}

.active .menu-item-text {
  color: #003865;
  font-weight: 600;
}

/* hide sections */
.main .hide {
  display: none;
}

/* 
*** responsive with custom breakpoints ***
*/

/* hide burger menu on desktop */
.burger-menu {
  display: none;
}

/* responsive cards */
@media only screen and (max-width: 1200px) {
  .menu-item-text,
  .logo-name,
  .account-settings {
    display: none;
  }

  .page-grid {
    grid-template-columns: 117px 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  /* Do some styling for main section */
  .page-grid {
    grid-template-columns: 1fr;
  }

  .row-counter-cards {
    grid-template-columns: 1fr 1fr;
  }

  .grid-row-60-40,
  .grid-row-40-60 {
    grid-template-columns: 1fr;
  }

  /* bring back menu labels */
  .menu-item-text,
  .account-settings {
    display: block;
  }

  /* amend menu for mobile view */

  .logo-container {
    justify-content: center;
  }

  .sidebar {
    justify-content: stretch;
    z-index: 10;
  }

  .sidebar-inner {
    border: 1px solid #1f252a30;
  }

  .burger-menu {
    display: block;
  }

  .sidebar-show {
    position: static;
  }

  /*
  *** mobile menu ***
  */

  /* hide the menu */
  .sidebar .hide {
    display: none;
  }

  .sidebar .show {
    display: block;
  }
}

/* adapt main cards for mobile screen */
@media only screen and (max-width: 475px) {
  .row-counter-cards {
    grid-template-columns: 1fr;
  }

  .big-text-img-card {
    flex-direction: column;
  }

  .bottom-section {
    grid-template-columns: 1fr 1fr;
  }
}

/*
*** style chart canvas ***
*/
#barChart {
  background-image: linear-gradient(#34385d, #34385d);
}

/* Authentication and profile */
.user-profile {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-image {
  margin: 0 auto;
  width: 40px;
  border-radius: 100px;
}

/* input form  */
.form-container {
  display: flex;
  width: 100%;
}

.form {
  display: flex;
  flex: 1;
  column-gap: 4px;
  margin-bottom: 20px;
}

.textarea {
  display: block;
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #cccccc78;
  border-radius: 5px;
}

.form button {
  border-radius: 5px;
  color: white;
  background-color: #003865cf;
}

select {
  display: block;
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #cccccc78;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  color: #333;
  appearance: none;
  outline: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px 16px;
  padding-right: 32px;
  /* add some padding to make room for the arrow */
}

/* headline chat */
.flex-container-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

/* form fields */
.upload-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.upload-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3f698a;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.upload-success-message {
  padding-top: 20px;
  padding-bottom: 20px;
}

.display-file {
  margin-top: 40px;
}

input::file-selector-button {
  padding: 16px;
  margin-right: 8px;
  border: none;
  border-radius: 3px;
  background-color: #e9ecef;
}

.text-input {
  padding: 12px;
}

.uploading-status {
  display: flex;
  align-items: center;
}

/* File-List */
.entry-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-row b {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.entry-row .entry-email {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry-row span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  text-align: right;
}

.entry-row {
  cursor: pointer;
}

.entry-row:hover {
  background-color: #f5f5f5;
}

.trash-icon {
  padding: 0 0 0px 8px;
  height: 14px;
  flex: 1;
}

.loading-indicator {
  width: 30px;
}

/* Modal */

.dialog-content {
  width: 80%;
  max-width: 800px;
  height: 90%;
  background-color: white;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.dialog-scrollable {
  height: 90%;
  overflow-y: auto;
}

.dialog-scrollable {
  /* Foreground, Background */
  scrollbar-color: #e9ecef #3f698a;
}

.dialog-scrollable::-webkit-scrollbar {
  width: 14px;
  /* Mostly for vertical scrollbars */
  height: 10px;
  /* Mostly for horizontal scrollbars */
}

.dialog-scrollable::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #3f698a;
}

.dialog-scrollable::-webkit-scrollbar-track {
  /* Background */
  background: #e9ecef;
}

.dialog-scrollable.no-scroll {
  overflow-y: hidden;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

dialog input,
dialog textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

dialog textarea {
  height: 100%;
}

dialog button {
  background: #3f698a;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

dialog button:hover {
  background-color: #305069;
}

dialog button.cancel {
  background: #b1b6bb;
}

dialog button.cancel:hover {
  background: #888c90;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Delete Modal */
.confirmation-modal,
dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirmation-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.confirmation-modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.confirmation-modal-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* login, register */
.login-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-message p {
  margin-bottom: 16px;
}

.login-message button {
  background-color: #67748e;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
